inf/
opd/lab0/

prog/gradle-8.5-bin.zip
prog/l1/
prog/**/.gradle/

prog/l3/gradle-8.5/
# prog/l8/javafx-sdk-22.0.1/
prog/l8/**

# prog/**/proj/bin/
# prog/**/proj/gradle/
# prog/**/proj/gradlew
# prog/**/proj/gradlew.bat

prog/**/bin/
prog/**/build/
prog/**/gradle/
prog/**/gradlew
prog/**/gradlew.bat
